@use "styles/mixins";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.title {
  margin-bottom: var(--space-s);
}

.repo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  padding: var(--space-s);
  border: 2px solid var(--color-gray-400);
  border-radius: var(--border-radius);
  @include mixins.space-y(var(--space-xxs));
}

.description {
  flex-grow: 1;
}

.header,
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header {
  @include mixins.space-x(var(--space-xxs));
}

.footer {
  @include mixins.space-x(var(--space-s));
}

.indicator {
  display: inline-block;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color-lang, var(--color-brand));
}

.footerEl {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer {
  color: var(--color-gray-500);
}

.link {
  position: relative;
  @include mixins.underline($color: var(--color-brand));
}
