.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: var(--border-radius);

  &:hover {
    transition: background-color 0.25s;
    background-color: var(--color-brand-hover);
  }

  &:active {
    background-color: var(--color-brand-active);
    color: var(--color-white);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-gray-500);
  }
}

.btnMore {
  pointer-events: none;
}

.btnActive {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.item {
  height: 42px;
  min-width: 38px;
  padding: 0 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrowBtnLeft {
  transform: rotate(90deg);
}

.arrowBtnRight {
  transform: rotate(-90deg);
}
