.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--color-brand-hover);
    transition: background-color 0.25s;
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-brand-active);
  }

  &:disabled {
    color: var(--color-gray-500);
    pointer-events: none;
  }
}

.btnMore {
  pointer-events: none;
}

.btnActive {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  height: 42px;
  padding: 0 6px;
}

.arrowBtnLeft {
  transform: rotate(90deg);
}

.arrowBtnRight {
  transform: rotate(-90deg);
}
