.badge {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 2em;
  font-weight: 700;
  font-size: 12px;
  color: var(--color-blue-300);
  background-color: var(--color-blue-100);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue-300);
  }
}
