.btn {
  display: inline-flex;
  align-items: center;
  gap: var(--space-xxs);
  min-height: 52px;
  padding: var(--space-s) var(--space-l);
  border: none;
  border-radius: var(--border-radius);
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-brand);
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--color-brand-hover);
    color: var(--color-white);
  }

  &:active {
    background-color: var(--color-brand-active);
  }

  &:disabled {
    color: var(--color-gray-500);
    pointer-events: none;
  }
}

.btnDisabled {
  color: var(--color-gray-500);
  background-color: var(--color-gray-300);
}

.loader {
  color: inherit;
}

.ghost {
  background-color: transparent;
  color: var(--text-secondary);

  &:hover {
    background-color: transparent;
    color: var(--text-primary);
  }

  &:active {
    background-color: transparent;
    color: var(--text-primary);
  }
}

.size-small {
  min-height: initial;
  padding: 0;
}
