.counter {
  display: inline-block;
  padding: 2px 0.375rem;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-gray-300);
}
