.ABAP {
  --color-lang: #e8274b;
}
.AMPL {
  --color-lang: #e6efbb;
}
.ANTLR {
  --color-lang: #9dc3ff;
}

.APL {
  --color-lang: #5a8164;
}
.ASP {
  --color-lang: #6a40fd;
}
.ATS {
  --color-lang: #1ac620;
}
.ActionScript {
  --color-lang: #882b0f;
}
.Ada {
  --color-lang: #02f88c;
}
.Agda {
  --color-lang: #315665;
}
.Alloy {
  --color-lang: #64c800;
}
.AngelScript {
  --color-lang: #c7d7dc;
}
.AppleScript {
  --color-lang: #101f1f;
}
.Arc {
  --color-lang: #aa2afe;
}
.AspectJ {
  --color-lang: #a957b0;
}
.Assembly {
  --color-lang: #6e4c13;
}
.Asymptote {
  --color-lang: #4a0c0c;
}
.AutoHotkey {
  --color-lang: #6594b9;
}
.AutoIt {
  --color-lang: #1c3552;
}
.Ballerina {
  --color-lang: #ff5000;
}
.Batchfile {
  --color-lang: #c1f12e;
}
.BlitzMax {
  --color-lang: #cd6400;
}
.Boo {
  --color-lang: #d4bec1;
}
.Brainfuck {
  --color-lang: #2f2530;
}

.C\+\+ {
  --color-lang: #f34b7d;
}

.C\# {
  --color-lang: #178600;
}

.C {
  --color-lang: #555555;
}
.CSS {
  --color-lang: #563d7c;
}
.Ceylon {
  --color-lang: #dfa535;
}
.Chapel {
  --color-lang: #8dc63f;
}
.Cirru {
  --color-lang: #ccccff;
}
.Clarion {
  --color-lang: #db901e;
}
.Clean {
  --color-lang: #3f85af;
}
.Click {
  --color-lang: #e4e6f3;
}
.Clojure {
  --color-lang: #db5855;
}
.CoffeeScript {
  --color-lang: #244776;
}
.ColdFusion {
  --color-lang: #ed2cd6;
}
.Crystal {
  --color-lang: #000100;
}
.Cuda {
  --color-lang: #3a4e3a;
}
.D {
  --color-lang: #ba595e;
}
.DM {
  --color-lang: #447265;
}
.Dart {
  --color-lang: #00b4ab;
}
.DataWeave {
  --color-lang: #003a52;
}
.Dockerfile {
  --color-lang: #384d54;
}
.Dogescript {
  --color-lang: #cca760;
}
.Dylan {
  --color-lang: #6c616e;
}
.E {
  --color-lang: #ccce35;
}
.ECL {
  --color-lang: #8a1267;
}
.EQ {
  --color-lang: #a78649;
}
.Eiffel {
  --color-lang: #946d57;
}
.Elixir {
  --color-lang: #6e4a7e;
}
.Elm {
  --color-lang: #60b5cc;
}
.EmberScript {
  --color-lang: #fff4f3;
}
.Erlang {
  --color-lang: #b83998;
}
.FLUX {
  --color-lang: #88ccff;
}
.Factor {
  --color-lang: #636746;
}
.Fancy {
  --color-lang: #7b9db4;
}
.Fantom {
  --color-lang: #14253c;
}
.Forth {
  --color-lang: #341708;
}
.Fortran {
  --color-lang: #4d41b1;
}
.FreeMarker {
  --color-lang: #0050b2;
}
.Frege {
  --color-lang: #00cafe;
}
.GDScript {
  --color-lang: #355570;
}
.Genie {
  --color-lang: #fb855d;
}
.Gherkin {
  --color-lang: #5b2063;
}
.Glyph {
  --color-lang: #c1ac7f;
}
.Gnuplot {
  --color-lang: #f0a9f0;
}
.Go {
  --color-lang: #00add8;
}
.Golo {
  --color-lang: #88562a;
}
.Gosu {
  --color-lang: #82937f;
}
.Groovy {
  --color-lang: #e69f56;
}
.HTML {
  --color-lang: #e34c26;
}
.Hack {
  --color-lang: #878787;
}
.Harbour {
  --color-lang: #0e60e3;
}
.Haskell {
  --color-lang: #5e5086;
}
.Haxe {
  --color-lang: #df7900;
}
.HiveQL {
  --color-lang: #dce200;
}
.Hy {
  --color-lang: #7790b2;
}
.IDL {
  --color-lang: #a3522f;
}
.Idris {
  --color-lang: #b30000;
}
.Io {
  --color-lang: #a9188d;
}
.Ioke {
  --color-lang: #078193;
}
.Isabelle {
  --color-lang: #fefe00;
}
.J {
  --color-lang: #9eedff;
}
.JSONiq {
  --color-lang: #40d47e;
}
.Java {
  --color-lang: #b07219;
}
.JavaScript {
  --color-lang: #f1e05a;
}
.Jolie {
  --color-lang: #843179;
}
.Julia {
  --color-lang: #a270ba;
}
.KRL {
  --color-lang: #28430a;
}
.Kotlin {
  --color-lang: #f18e33;
}
.LFE {
  --color-lang: #4c3023;
}
.LLVM {
  --color-lang: #185619;
}
.LOLCODE {
  --color-lang: #cc9900;
}
.LSL {
  --color-lang: #3d9970;
}
.Lasso {
  --color-lang: #999999;
}
.Lex {
  --color-lang: #dbca00;
}
.LiveScript {
  --color-lang: #499886;
}
.LookML {
  --color-lang: #652b81;
}
.Lua {
  --color-lang: #000080;
}
.MATLAB {
  --color-lang: #e16737;
}
.MAXScript {
  --color-lang: #00a6a6;
}
.MQL4 {
  --color-lang: #62a8d6;
}
.MQL5 {
  --color-lang: #4a76b8;
}
.MTML {
  --color-lang: #b7e1f4;
}
.Makefile {
  --color-lang: #427819;
}
.Mask {
  --color-lang: #f97732;
}
.Max {
  --color-lang: #c4a79c;
}
.Mercury {
  --color-lang: #ff2b2b;
}
.Meson {
  --color-lang: #007800;
}
.Metal {
  --color-lang: #8f14e9;
}
.Mirah {
  --color-lang: #c7a938;
}
.Modula-3 {
  --color-lang: #223388;
}
.NCL {
  --color-lang: #28431f;
}
.Nearley {
  --color-lang: #990000;
}
.Nemerle {
  --color-lang: #3d3c6e;
}
.NetLinx {
  --color-lang: #0aa0ff;
}
.NetLogo {
  --color-lang: #ff6375;
}
.NewLisp {
  --color-lang: #87aed7;
}
.Nextflow {
  --color-lang: #3ac486;
}
.Nim {
  --color-lang: #37775b;
}
.Nit {
  --color-lang: #009917;
}
.Nix {
  --color-lang: #7e7eff;
}
.Nu {
  --color-lang: #c9df40;
}
.OCaml {
  --color-lang: #3be133;
}
.Objective-C {
  --color-lang: #438eff;
}
.Objective-J {
  --color-lang: #ff0c5a;
}
.Omgrofl {
  --color-lang: #cabbff;
}
.Opal {
  --color-lang: #f7ede0;
}
.Oxygene {
  --color-lang: #cdd0e3;
}
.Oz {
  --color-lang: #fab738;
}
.P4 {
  --color-lang: #7055b5;
}
.PHP {
  --color-lang: #4f5d95;
}
.PLSQL {
  --color-lang: #dad8d8;
}
.Pan {
  --color-lang: #cc0000;
}
.Papyrus {
  --color-lang: #6600cc;
}
.Parrot {
  --color-lang: #f3ca0a;
}
.Pascal {
  --color-lang: #e3f171;
}
.Pawn {
  --color-lang: #dbb284;
}
.Pep8 {
  --color-lang: #c76f5b;
}
.Perl {
  --color-lang: #0298c3;
}
.PigLatin {
  --color-lang: #fcd7de;
}
.Pike {
  --color-lang: #005390;
}
.PogoScript {
  --color-lang: #d80074;
}
.PostScript {
  --color-lang: #da291c;
}
.PowerBuilder {
  --color-lang: #8f0f8d;
}
.PowerShell {
  --color-lang: #012456;
}
.Processing {
  --color-lang: #0096d8;
}
.Prolog {
  --color-lang: #74283c;
}
.Puppet {
  --color-lang: #302b6d;
}
.PureBasic {
  --color-lang: #5a6986;
}
.PureScript {
  --color-lang: #1d222d;
}
.Python {
  --color-lang: #3572a5;
}
.QML {
  --color-lang: #44a51c;
}
.Quake {
  --color-lang: #882233;
}
.R {
  --color-lang: #198ce7;
}
.RAML {
  --color-lang: #77d9fb;
}
.RUNOFF {
  --color-lang: #665a4e;
}
.Racket {
  --color-lang: #3c5caa;
}
.Ragel {
  --color-lang: #9d5200;
}
.Rascal {
  --color-lang: #fffaa0;
}
.Rebol {
  --color-lang: #358a5b;
}
.Red {
  --color-lang: #f50000;
}
.Ring {
  --color-lang: #2d54cb;
}
.Roff {
  --color-lang: #ecdebe;
}
.Rouge {
  --color-lang: #cc0088;
}
.Ruby {
  --color-lang: #701516;
}
.Rust {
  --color-lang: #dea584;
}
.SAS {
  --color-lang: #b34936;
}
.SQF {
  --color-lang: #3f3f3f;
}
.SaltStack {
  --color-lang: #646464;
}
.Scala {
  --color-lang: #c22d40;
}
.Scheme {
  --color-lang: #1e4aec;
}
.Self {
  --color-lang: #0579aa;
}
.Shell {
  --color-lang: #89e051;
}
.Shen {
  --color-lang: #120f14;
}
.Slash {
  --color-lang: #007eff;
}
.Slice {
  --color-lang: #003fa2;
}
.Smalltalk {
  --color-lang: #596706;
}
.Solidity {
  --color-lang: #aa6746;
}
.SourcePawn {
  --color-lang: #5c7611;
}
.Squirrel {
  --color-lang: #800000;
}
.Stan {
  --color-lang: #b2011d;
}
.SuperCollider {
  --color-lang: #46390b;
}
.Swift {
  --color-lang: #ffac45;
}
.SystemVerilog {
  --color-lang: #dae1c2;
}
.Tcl {
  --color-lang: #e4cc98;
}
.TeX {
  --color-lang: #3d6117;
}
.Terra {
  --color-lang: #00004c;
}
.Turing {
  --color-lang: #cf142b;
}
.TypeScript {
  --color-lang: #2b7489;
}
.UnrealScript {
  --color-lang: #a54c4d;
}
.VCL {
  --color-lang: #148aa8;
}
.VHDL {
  --color-lang: #adb2cb;
}
.Vala {
  --color-lang: #fbe5cd;
}
.Verilog {
  --color-lang: #b2b7f8;
}
.Volt {
  --color-lang: #1f1f1f;
}
.Vue {
  --color-lang: #2c3e50;
}
.WebAssembly {
  --color-lang: #04133b;
}
.X10 {
  --color-lang: #4b6bef;
}
.XC {
  --color-lang: #99da07;
}
.XQuery {
  --color-lang: #5232e7;
}
.XSLT {
  --color-lang: #eb8ceb;
}
.YARA {
  --color-lang: #220000;
}
.YASnippet {
  --color-lang: #32ab90;
}
.Yacc {
  --color-lang: #4b6c4b;
}
.Zephir {
  --color-lang: #118f9e;
}
.Zig {
  --color-lang: #ec915c;
}
.eC {
  --color-lang: #913960;
}
.mcfunction {
  --color-lang: #e22837;
}
.nesC {
  --color-lang: #94b0c7;
}
.ooc {
  --color-lang: #b0b77e;
}
.q {
  --color-lang: #0040cd;
}
.sed {
  --color-lang: #64b970;
}
.wdl {
  --color-lang: #42f1f4;
}
.wisp {
  --color-lang: #7582d1;
}
.xBase {
  --color-lang: #403a40;
}
