@use "styles/mixins";

.loaderContainer {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: var(--space-l);
  @include mixins.space-y(var(--space-xl));
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include mixins.space-x(var(--space-m));
}

.headerDetails {
  display: flex;
  align-items: center;
  @include mixins.space-x(var(--space-xxs));
}

.arrowBack {
  transform: rotate(90deg);
  &:hover {
    color: var(--color-brand-hover);
  }
}

.main {
  display: flex;
  flex-direction: column;
  @include mixins.space-y(var(--space-l));
}

.link {
  display: flex;
  @include mixins.space-x(var(--space-xxs));
}

.linkText {
  position: relative;
  color: var(--color-blue-200);
  @include mixins.underline($color: var(--color-blue-200));
}

.contentFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: var(--space-xxs);
  width: 80%;
  @include mixins.space-y(var(--space-l));
}
