@use "styles/mixins";

.loaderContainer {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: var(--space-l);
  @include mixins.space-y(var(--space-xl));
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include mixins.space-x(var(--space-m));
}

.arrowBack {
  transform: rotate(90deg);
}

.main {
  display: flex;
  flex-direction: column;
  @include mixins.space-y(var(--space-l));
}

.link {
  display: flex;
  @include mixins.space-x(var(--space-xxs));
}

.linkText {
  color: var(--color-blue-200);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxs);
}

.statsContainer {
  @include mixins.space-y(var(--space-xxs));
}

.contentFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  @include mixins.space-y(var(--space-l));
}

.readmeContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: var(--space-l);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
