@use "styles/mixins";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-l);
  @include mixins.space-x(var(--space-xxs));
}

.arrowLeft {
  transform: rotate(90deg);
}

.arrowRight {
  transform: rotate(-90deg);
}
