@use "styles/mixins";

.contributors {
  width: 100%;
  max-width: 310px;
  @include mixins.space-y(var(--space-xxs));
}

.contributorList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include mixins.space-y(var(--space-xxs));
}

.contributor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include mixins.space-x(var(--space-xxs));

  &:hover {
    color: var(--color-blue-200);
    .name {
      color: var(--color-blue-200);
    }
  }
}

.btnShowMore {
  margin-top: var(--space-xxs);
}

.loginText {
  @include mixins.space-x(var(--space-xxs));
}
