@use "styles/mixins";

.header {
  border-bottom: 2px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
}

.content {
  display: flex;
  align-items: center;
  gap: var(--space-l);
  width: 100%;
  max-width: 1240px;
  height: 64px;
  margin: 0 auto;
  padding: 0 var(--space-xs);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.links {
  @include mixins.space-x(var(--space-xs));
}

.link:hover {
  color: var(--text-secondary);
}

.linkActive {
  text-decoration: underline;
}
