@use "styles/mixins";

.page {
  background-color: var(--color-bg);
}

.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: var(--space-l);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  margin-top: 60px;

  @include mixins.media("md") {
    margin-top: 40px;
  }
}

.dropdown {
  max-width: 300px;

  @include mixins.media("mob") {
    max-width: 100%;
  }
}

.pagination {
  justify-content: center;
  margin-top: 40px;
}

.loader {
  margin: 0 auto;
  margin-top: var(--space-l);
}

.subtitle {
  margin-top: var(--space-l);
}
